footer{
    background: url(../images/footer.jpg) no-repeat;
    background-size: cover;
    padding: 0 13%;
    p{
        color: #fff !important;
    }
    .subscribe-section{
        background: url(../images/subscribe.jpg) no-repeat;
        background-size: cover;
        padding: 80px 0 !important;
        border-radius: 20px;
        margin-bottom: 90px;

        input{
            width: 31% !important;
            border-radius: 10px;
            padding: 10px 20px;
            border: none;
        }
        .medium-font{
            color: #fff !important;
            padding-bottom: 80px;
        }
        button{
            margin-top: 40px;
            background-color: #00aeff !important;
        }
    }
    .bold-small-font{
        font-weight: bold !important;
    }
}