
html{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}
body{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
    background: #fbfcfc !important;
}


$nevy-blue: #1c2056;
$white: #fff;
$blue: #2870db;
$grey: #9390a4;
$dark-grey: #263238;

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    color: $dark-grey !important;
    font-weight: 500 !important;
    line-height: 40px !important;
}
.card-title{
    font-size: 1.25rem !important;
    font-weight: bold !important;
    color: $dark-grey;
}
.medium-font{
    font-size: 2.25rem;
    font-weight: bold !important;
    color: $dark-grey;
    text-align: center;
}
button{
    border-radius: 50px;
    padding: 20px 50px;
    border: none;
    color: $white;
}

header{
    background: url(../images/background-1.jpg) no-repeat;
    padding: 75px 0 !important;
    background-size: 100% !important;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 3.125rem !important;
        font-weight: bold !important;
        color:  $nevy-blue;
    }
    nav{
        padding: 0 13% !important;
    }
    nav ul li a{
        color:  $white !important;
    }
    .shape-1{
        height: 11.9%;
        display: flex !important;
    }
    .header-content button{
        background: $blue;
    }
    .left{
        float: left;
        margin-right: 10%;
    }
    .navbar-light .navbar-toggler {
        color: #fff !important;
        border-color: #fff !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem !important;
    }
    .navbar-toggler {
        background-color: #a6e2fa !important;
    }
    nav .login-btn{
        background: #fff;
        color: #1c2056 !important;
        padding: 0px 0px !important;
        height: 40px !important;
        width: 80px !important;
        margin-bottom: 10px !important;
    }
}


.go-hiking{
    background: url(../images/section-2.jpg) no-repeat;
    background-size: 100%;
    padding-top: 70px;
    margin-bottom: 115px;

    .all-cards .medium-font{
        margin-bottom: 100px;
    }
    .all-cards{
        margin-bottom: 220px;
    }
    .card{
        padding: 45px !important;
        border-radius: 20px !important;
        box-shadow: 0 10px 10px 0 solid #e0e9f3 !important;
    }
    .row .icon{
        text-align: center !important;
        margin-bottom: 55px;
    }
    #icon-2, #icon-3{
        margin-top: -150px !important;
    }
    #card-btn{
        top: 50%;
        left: 50%;
        transform: translate(-65%, 50%);
    }
    button{
        background-color: $blue;

    }
    .info{
        margin-top: 90px;
        .medium-font{
            color: $blue !important;
        }
    }
}

.protecting-section{
    background: url(../images/section-3.jpg) no-repeat;
    background-size: 100%;

    .medium-font{
        padding: 0px 0 100px;
    }
    .card-deck{
        padding-bottom: 200px;
    }
    .card{
        border-radius: 20px;
        box-shadow: 10px solid rgb(19, 18, 18) !important;
        border: none !important;
    }
}

footer{
    background: url(../images/footer.jpg) no-repeat;
    background-size: cover;
    padding: 0 13%;
    p{
        color: #fff !important;
    }
    .subscribe-section{
        background: url(../images/subscribe.jpg) no-repeat;
        background-size: cover;
        padding: 80px 0 !important;
        border-radius: 20px;
        margin-bottom: 90px;

        input{
            width: 31% !important;
            border-radius: 10px;
            padding: 10px 20px;
            border: none;
        }
        .medium-font{
            color: #fff !important;
            padding-bottom: 80px;
        }
        button{
            margin-top: 40px;
            background-color: #00aeff !important;
        }
    }
    .bold-small-font{
        font-weight: bold !important;
    }

}


@media screen and (max-width: 1440px){
    .medium-font {
        font-size: 2rem;
    }
    .go-hiking .all-cards {
        margin-bottom: 100px !important;
    }
}
@media screen and (max-width: 768px){
    header {
        h1 {
            font-size: 2.50rem !important;
        }
        nav ul li a {
            color: $dark-grey !important;
        }
        nav{
            padding: 0 5% !important;
        }
        .navbar-collapse {
            background: linear-gradient(90deg, rgba(3,64,156,1) 19%, rgba(127,207,240,1) 100%);
            text-align: center !important;
            opacity: 0.9 !important;
        }
        .navbar-collapse ul li a{
            color: #fff !important;
        }
        nav button{
            padding: 0px 0px !important;
            height: 30px !important;
            width: 70px !important;
        }
    } 
    .medium-font {
        font-size: 1.50rem !important;
    }
    .navbar-light .navbar-toggler {
        color: #fff !important;
        border-color: #fff !important;
    }
    .protecting-section{
        .card-deck {
            padding-bottom: 100px;
        }
    } 
    footer{
        background: none;
        p{
            color: $dark-grey !important;
        }
        .medium-font {
            font-size: 1.25rem !important;
        }
        .subscribe-section{
            padding: 20px 0 !important;
            margin-bottom: 90px;
            .medium-font {
                color: #fff !important;
                padding-bottom: 0px;
            }
            input {
                width: 60% !important;

            }
        }
    }
}

@media screen and (max-width: 425px){
    p {
        font-size: 0.90rem;
    }
    .medium-font {
        font-size: 1.15rem !important;
    }
    header {
        padding: 10px 0 !important;

        h1 {
            font-size: 2.10rem !important;
        }
    }
    .go-hiking{
        .card{
            padding: 0px !important;
            .row{
                display: flex !important;
                flex-direction: column !important;
            }   
        }
        #card-btn {
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-65%, 50%);
            transform: translate(-50%, 40%);
        }
        .icon img{
            width: 100px;
            height: 100px;
        }
        #icon-2, #icon-3 {
            margin-top: 50px !important;
        }
        .col-sm{
            margin-bottom: 50px !important;
        }
        .col-6 {
            width: 100% !important;
            display: flex !important;
            flex-direction: column !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
   }
   .protecting-section{
    .medium-font {
        padding: 0px 0 30px;
    }
   }
    

}